main.svelte-1l9tka5{background-color:pink}.entry-outer.svelte-1l9tka5{position:absolute;background-color:red;border-radius:5px;height:20%;width:20%}.wrapper.svelte-1l9tka5{background-color:green}
main.svelte-1tky8bj{text-align:center;padding:1em;max-width:240px;margin:0 auto}@media(min-width: 640px){main.svelte-1tky8bj{max-width:none}}
